.input-group-text {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
    padding: 0.375rem 0.75rem;
}

.input-group-text i {
    color: blue !important;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 2.5rem;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff !important;  /* Azul */
    font-size: 1.4rem;
}

.form-card {
    background-color: #fff;    /* Fondo blanco */
    color:#007bff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgb(17, 128, 255);
}

.form-card .form-label {
    color: #007bff;  /* Azul */
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

/* Evitar color verde/rojo en icono */
.password-wrapper .is-valid ~ .password-toggle-icon,
.password-wrapper .is-invalid ~ .password-toggle-icon {
    color: #007bff !important;
}
